.boton {
    background-color: transparent;
    border: 3px solid black;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
    padding: 1vw 2vw;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

.link-boton {
    text-decoration: none;
}

.boton:hover {
    background-color: rgb(108, 108, 108);
    border: transparent;
}

.Nombre {
    width: 100%;
}

.d-block {
    width: 90px;
    height: auto;
}

.cosas {
    padding-left: 10px;
    padding-right: 5px;
}

