.logo {
    width: 75px;
    height: auto;
}

.navbar {
    position: static !important;
    --bs-navbar-padding-y: 0!important;
}

.navbar-toggler-icon {
    background-size: 50%;
}

.high-res-picture___3SJ41 {
    width: 5vw;
    height: auto;
}

.lupa {
    width: 75%;
    height: auto;
}

.offcanvas-title{
    font-size: 40px!important;
    color: white;
}

.offcanvas-header {
    background-color: #000000;
}

.offcanvas-body {
    background-color: #e7e7e7;
}

.dropdown-menu {
    --bs-dropdown-padding-y: 0rem !important; 
}

.nav-link {
    font-size: 20px !important;
}

.carousel-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.carousel-button {
    background-color: transparent;
    border: 3px solid black;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 50px;
    padding: 1.5vw 4vw;
    font-size: 20px
    
  }

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
  }

.pregunta {
    font-family: inherit;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: bold !important;
}

.lead {
    font-family: "Montserrat", Sans-serif;
}

.marketing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
  }

.row {
    margin-bottom: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo-camisetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.bi {
    width: 40px;
    height: 4|0px;
}

.ms-3 {
    padding: 20px;
}