*{border: 1px solid red}

.div1{background-color: rgb(244, 95, 179);}
.h2{font-size: 50px; color: green; font-family:'Courier New', Courier, monospace; background-color: black;}
#segunda_foto {width: 200vh;}

.flex-container {
    display: flex;
    background-color: blue;
    flex-flow: wrap;
    justify-content: space-evenly;
}
.flex-container > div {
    background-color: yellow;
    margin: 10px;
    padding: 49px;
    font-size: 30px;
}
