*{
    border: 1px solid red
}

.div1{
    background-color: rgb(244, 95, 179);
}
.h2{
    font-size: 50px;
    color: green;
    font-family:'Courier New', Courier, monospace;
    background-color: black;
}
#segunda_foto {
    width: 200vh;
}

.flex-container {
    display: flex;
    background-color: blue;
    flex-flow: wrap;
    justify-content: space-evenly;
}

/* va a afectar todos los div pero todo lo demas no va a estar afectado */
.flex-container > div {
    background-color: yellow;
    margin: 10px;
    padding: 49px;
    font-size: 30px;
}

@media screen and (max-width: 992px) and (min-width: 600px){
    body {
      background-color: blue;
      color: white;
    }
  }

  @media screen and (max-width: 992px) {
    header {
      display:none;
    }
}

  @media screen and (max-width: 600px) {
    body {
        background-color: olive;
        color: white;
    }
    main marquee {
        display: none;
    }
    main h6 {
        font-family:cursive;
    }
}
